
.open-sans-mormal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
}


    


nav{
    display: flex;
    justify-content: space-between;
    padding: 85px;
    
}
.nav-title{
    color:#4E47FF ;
    font-size: 45px;
}
.pra-title{
    padding: 65px;
    justify-content: center;
    }
    .header-secondary-bg{
        background-image: url(../picture/Assets/Hero-bg.png);
       
    }
  

.btn-primary{
    font-weight: 700;
    padding: 18px 35px;
    font-size: 17px;
    color:white;
    background-color: #4E47FF;
    border: none;
    border-radius: 7px;

    
}

img{
    border-radius: 40px;
}
.action-type{
    display: flex;
    justify-content: space-between;
    padding: 85px;
    margin: 0 auto;
}
.font-style{

}
.font-style-2{
    color: #4E47FF;
}
.mul-pra{
    display: flex;
    justify-content: center;
    gap: 60px;
   

}
.user-section{
    width: 1480px;
    margin: 0 auto;
    
}
.font-style-2{
    font-weight: 900;
    font-size: 60px;
    height:30px;

}
.user-section{
    background-color: #e5e5f5;
    border-radius: 20px;
    padding:100px;
}
